.Shop-container {
  padding: 1rem 1rem 0 1rem;
}

.Shop-container h2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: brown;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  padding: 0.8rem 0 0.8rem 0;
}

.Shop-card-container {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: chocolate;
  box-shadow: 6px 6px 12px black;
  outline: none;
  border: none;
  perspective: 100px;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.Shop-card-container:hover {
  background-color: burlywood;
  transform: rotateY(-20deg);
}

/* large devices */
.grid-card {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.card-desc {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    Courier, monospace;
  overflow: hidden;
}

.buy-now {
  background-color: blue;
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
}

.buy-now:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

/* small screens */
@media screen and (max-width: 768px) {
  .Shop-container h2 {
    font-size: 2rem;
    text-decoration: none;
  }

  .grid-card {
    grid-template-columns: repeat(1, 1fr);
  }

  .Shop-card-container img {
    height: 35vh;
    width: 100%;
  }
}

/* medium screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-card {
    grid-template-columns: repeat(3, 1fr);
  }
  .Shop-card-container img {
    height: 26vh;
    width: 100%;
  }
}

/* extra large screens */
@media screen and (min-width: 1024px) {
  .grid-card {
    grid-template-columns: repeat(5, 1fr);
  }
  .Shop-card-container img {
    height: 46vh;
    width: 100%;
  }
}
