.sidenav-container {
  background-color: white;
}

.side-nav {
  z-index: 100;
  /* background-color: rgb(10, 10, 33); */
  background: #fff;
}

@media screen and (max-width: 768px) {
  .sidenav-container {
    width: 100%;
  }
  .side-nav {
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .sidenav-container {
    display: none;
  }
}
